<% provide :title, "\"#{website_name}\"とは？" %>

<div class="about-container mx-auto">
  <h1 class="about-title mb-4 text-center">"<%= website_name %>"とは？</h1>
  <p class="mx-auto" style="width: fit-content;">
    <%= website_name %>（ミューブラー）はインスタグラム風の画像投稿SNSです。
  </p>
</div>
