<div class="post-container no-gutters mx-sm-auto" style="max-width: 700px">
  <div class="post-header d-flex align-items-center" style="">
    <%= link_to image_tag("user_icon.jpeg", size: "50x50", class: "rounded-circle z-depth-0", alt: "avatar image"), "#", class: "mr-3" %>
    <div class="" style="width: 100%; line-height: 20px;">
      <a href="#" class="post-header-name">North East</a><br>
      <a href="#" class="post-header-username">@username</a>
    </div>
    <div class="post-header-btn">
      <i class="fas fa-ellipsis-h mr-2"></i>
    </div>
  </div>
  <div class="col img-col">
    <%= image_tag 'sample.jpg', size: "1100x1100", class: "img-fluid" %>
  </div>
  <div class="col">
    <div class="post-body">
      <p class="post-text">ミズーリ州カンザスシティを拠点に活動するドリームポップバンド Dreamgirlが、9曲入りのニューアルバム『Dreamgirl』をname your priceで発表！</p>
      <p class="post-text"><small class="text-muted">3分前</small></p>
    </div>
    <div class="post-footer">
      <i class="far fa-heart"></i> 15
      <i class="far fa-comment-alt ml-2"></i> 15
    </div>
  </div>
</div>