<div class="jumbotron text-center bg-transparent">
  <h1 class="display-4 font-weight-bolder">Welcome to blogapp!</h1>
  <h2>This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <br>
  <%= link_to "SIGN UP NOW", new_user_registration_path, class: "btn btn-lg btn-primary" %>

</div>