<div class="container bg-primary" style="max-width: 780px"> <!-- 640pxで一列 -->
  <div class="row d-flex">
    <div class="left bg-warning" style="width: 280px; height: 50rem;">
      <h1>Hello, World1</h1>
    </div>
    <div class="right" style="flex: 1">
      <h1>Hello, World2</h1>
    </div>
  </div>
</div>