<div class="dropdown mr-1">
  <button type="button" class="btn dropdown-toggle setting-btn py-0 px-1", data-toggle="dropdown", data-offset="3,8",
                    aria-haspopup="true", aria-expanded="false", style="box-shadow: none" ><i class="fas fa-ellipsis-h"></i></button>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to edit_user_registration_path, class: "dropdown-item d-flex align-items-center" do %>
      <div class="mr-auto">プロフィールを編集</div>
    <% end %>
    <div class="dropdown-divider"></div>
    <%= link_to destroy_user_session_path, class: "dropdown-item d-flex align-items-center", method: :delete do %>
      <div class="mr-auto">ログアウト</div><i class="fas fa-walking mr-2" style="font-size: 1.3rem"></i><i class="fas fa-angle-double-right"></i>
    <% end %>
  </div>
</div>