<div class="user-cards show-following row">
  <%= render 'users/user_cards', group: group %>
</div>
<div class="show-following-footer">
  <%= paginate group %>
  <div class="loadmore-btn-wrapper p-0 d-flex">
    <button class="loadmore-btn btn active mx-auto">さらに表示</button>
  </div>
</div>