<div class="user-menu d-flex" style="width: 100%;">
  <% unless current_user.guest? %>
    <%= link_to "プロフィールを編集", edit_user_registration_path, class: "btn edit-profile rounded-pill" %>
  <% else %>
    <button class="btn edit-profile guest rounded-pill">プロフィールを編集</button>
  <% end %>
  <a class="btn logout rounded-pill" data-toggle="modal" data-target="#logout_modal">ログアウト</a>
</div>

<script src="https://unpkg.com/tippy.js@5"></script>
<script>
  tippy('.edit-profile.guest', {
    content: 'ゲストユーザーは利用できません',
    placement: 'top-start',
    trigger: 'click',
  });
</script>

