<% provide(:title, 'すべてのユーザー') %>

<div class="page-header d-flex align-items-center mx-auto mb-4">すべてのユーザー</div>

<div class="all-users user-cards row">
  <%= render 'users/user_cards', group: @users %>
</div>

<div class="all-users-footer">
  <%= paginate @users %>
  <div class="loadmore-btn-wrapper p-0 d-flex">
    <button class="loadmore-btn btn active mx-auto">さらに表示</button>
  </div>
</div>

<script>
  window.onpageshow = function(event) {
    if (event.persisted) {
      window.location.reload();
    }
  };

  if (window.performance) {
    if (performance.navigation.type === 2) {
      window.location.reload();
    }
  }
</script>