<div class="modal" id="comment_modal" tabindex="-1"
      role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        コメントを削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">キャンセル</button>
        <%= link_to "削除", post_comment_path(comment.post, comment), class: "btn", style: "color: #f90e43;", method: :delete, remote: true, "data-dismiss" => "modal" %>
      </div>
    </div>
  </div>
</div>