<div class="post-body">
  <% if !object.caption.blank? %>
    <%= simple_format(object.caption, class: "post-text") %>
  <% end %>
  <p class="post-text d-flex align-items-center"><small class="text-muted"><%= date_format(object.created_at) %></small></p>
</div>