<div class="post-footer d-flex align-items-center">
  <div class="mr-2" style="font-size: 0.9rem"><b>15</b>件のコメント</div>
  <div style="font-size: 0.9rem"><b>15</b>件のいいね</div>
  <i class="far fa-heart ml-auto mr-1" style="font-size: 1.2rem; color: rgba(0, 0, 0, 0.3);"></i>
</div>