<div class="post-footer d-flex align-items-center">
  <div class="mr-2" style="font-size: 0.9rem"><b>15</b>件のコメント</div>
  <div style="font-size: 0.9rem">
    <b id="likes_<%= object.id %>"><%= object.likes.count.to_s(:delimited) %></b>件のいいね
  </div>
</div>