<div class="post-body">
  <% if !object.caption.blank? %>
    <%= simple_format(object.caption, class: "post-text") %>
  <% end %>
  <p class="post-text"><small class="text-muted">3分前</small></p>
</div>