<div class="search-form mx-auto">
  <div class="field form-group d-flex align-items-center">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="投稿を検索">
    </div>
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" href="#">投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= search_users_path %>">ユーザー</a>
    </li>
  </ul>
</div>