/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin sm { @media (min-width: 576px) { @content; } }
@mixin md { @media (min-width: 768px) { @content; } }
@mixin lg { @media (min-width: 992px) { @content; } }

/* miscellaneous */

.debug_dump {
  background-color: #f5f5f5;
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid #e9e9e9;
  @include box_sizing;
}

/* universal */

.container {
  max-width: 960px;
}

.custom-link {
  color: #999c9f;
  transition: color 0.15s ease-in-out;
  &:hover {
    text-decoration: none;
    color: #4c4c4c;
  }
}

.modal-body {
  font-size: 1.1rem;
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.5rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

/* header */

.navbar {
  height: 65px;
}

@include sm {
  .navbar-brand {
    font-size: 1.5rem;
  }
}

.nav-item {
  margin-left: 10px;
  .avatar-img {
    width: 32px;
    height: 32px;
    }
  @include sm {
    .avatar-img {
      width: 40px;
      height: 40px;
    }
  }
}
@include sm {
  .nav-item { margin-left: 15px }
}

.nav-link {
  font-weight: 700;
  font-size: 0.8rem;
}

.nav-btn {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  height: 32px;
}
@include sm {
  .nav-btn {
    height: 40px;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
  }
}

.btn-white {
  color: #212529;
  background-color: transparent;
  border-color: #212529;
}


/* footer */

body {
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 80px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer {
  height: 80px;
  color: #777;
  width: 100%;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}


/* devise forms */

.explanation {
  max-width: 440px;
  padding: 0 15px;
}

.error_explanation {
  max-width: 440px;
  margin: auto;
  padding: 0 15px;

  .error_header {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    @include sm { & { font-size: 1.1rem; } }
  }

  .alert {
    width: fit-content;
    font-size: 1rem;
    font-weight: 700;
    padding: 0;
    margin: 0 auto 2rem auto;
    @include sm { & { font-size: 1.1rem; } }
  }
}

.error_list {
  width: fit-content;
  padding-right: 20px;
  font-size: 0.9rem;
}

.custom-form {
  padding: 30px 15px 0 15px;
  @media (min-width: 470px) { & { padding: 30px 30px 0 30px; } }
  

  .container {
    max-width: 440px;
  }

  .form-title {
    font-weight: 700;
    font-size: 1.7rem;
  }

  @include sm {
    .form-title {
      font-size: 2rem;
    }
  }

  label {
    font-weight: 700;
    margin-bottom: 0rem;
  }

  .form-control {
    color: #212529;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #212529;
    border-radius: 0;
    &:focus {
      color: #212529;
      outline: 0;
      box-shadow: none;
    }
  }

  .input-group-text {
    padding: 0.375rem 0.15rem 0.375rem 0.75rem;
    color: rgba(33,37,41,0.5);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #212529;
    border-radius: 0;
  }

  .input-group-prepend + .form-control {
    padding: 0.375rem 0.125rem;
  }

  .input-group-prepend + .field_with_errors {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
  }

  .form-control.with-ig {
    padding: 0.375rem 0.125rem;
  }

  .forgot-password {
    font-size: 0.9rem;
  }

  p.note {
    font-size: 0.8rem;
  }

  .submit-btn {
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #212529;
  }

  .upload-avatar-btn {
    height: 35px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 0.875rem;
  }

  .btn.disabled, .btn:disabled {
    opacity: 0.3;
  }
}

/* home */

.home-contents {

  .home-header {
    background-image: url('top.png');
    background-size: cover;
    background-position: top center; 
    height: 430px;
    margin: 0 -15px 0px -15px;
    padding: 50px 0;
    color: #fff;
    position: relative;

    .home-catch {
      width: fit-content;
      font-size: 2rem;
      line-height: 45px;
      z-index: 2;
    }
    @include md {
      .home-catch {
        font-size: 2.5rem;
      }
    }
    
    .home-catch-link{
      color: #fff;
      font-size: 1.1rem;
      z-index: 2;
    }
  }
  @include md {
    .home-header {
      border-radius: 0.25rem;
      margin: 0 5px 0px 5px;
      padding: 60px 60px;
    }
  }

  .post-cards-nav {
    height: 65px;
    margin: 15px -15px 0 -15px;
    padding: 0 20px;
    .post-cards-nav-header {
      font-size: 1.5rem;
      font-weight: 700;
    }
    @include md { .post-cards-nav-header { font-size: 1.8rem; } }

    .nav {
      padding-left: 20px;
    }

    .nav-link { color: #23272b }
    .nav-link.active {
      background-color: #23272b;
      color: #fff;
    }
  }
  @include md {
    .post-cards-nav {
      margin: 15px 5px 0 5px;
      padding: 0
    }
  }

  .post-cards {
    margin: 0 -5px;

    .post-card {
      padding: 0 10px;
      margin-bottom: 20px;

      .post-card-img {
        border-radius: 0.25rem;
      }
    }

    .post-card-footer {
      padding: 10px 0;

      a:hover {
        text-decoration: none;
      }

      .post-footer-names {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        
        .post-footer-name {
          color: #212529;
          
        }
        .post-footer-username {
          color: #aaaaaa;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.feed-contents {

  .nav {
    max-width: 700px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border: 1px solid #212529;
      border-radius: 0.25rem;
      z-index: 0;
    }
  }

  .nav-item {
    margin: 0;
    z-index: 1;

    &:nth-child(2) {
      border-right: 1px solid #212529;
      border-left: 1px solid #212529;
    }

    &:first-child .nav-link.active {
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child .nav-link.active {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    font-size: 0.8rem;
    border-radius: 0;
    padding: 0;
    color: #212529;

    &.active { background-color: #212529 }
  }
  @include sm {
    .nav-link {
      font-size: 0.9rem;
      height: 40px;
    }
  }

  .no-contents {
    color: rgba(0, 0, 0, 0.4);
    height: 322px;
    width: 100%;

    .no-contents-title {
      margin-bottom: 0.5rem;
      font-size: 1.3rem;
    }

    .no-contents-explanation {
      max-width: 440px;
      font-size: 0.9rem;
      padding: 0 30px;
    }
  }

  .following-posts-container {
    margin: 0 -15px;
  }
  @include sm {
    .post-container {
      margin: 0;
    }
  }

  .post-frame {
    margin: 0;

    .post-header {
      height: auto;
      padding: 1.25rem 15px 15px 15px;
      @include sm { & { padding: 1.25rem 0 15px 0 } }
    }
  
    .post-footer {
      padding-bottom: 1.25rem;
    }

    &:first-child {
      .post-header {
        padding: 1.5rem 15px 15px 15px;
        @include sm { & { padding: 2rem 0 15px 0 } }
      }
    }

    &:last-child {
      .post-footer {
        padding-bottom: 2rem;
      }
      @include md {
        .post-footer {
          padding-bottom: 3rem;
        }
      }
    }
  }

  .home-post-cards {
    margin: 20px -15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;

    .post-card {
      padding: 0;
      @include md { & img { border-radius: 0.25rem; } }
    }
  }
  @include sm {
    .home-post-cards {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  @include md {
    .home-post-cards {
      margin: 35px 5px 35px 5px;
      gap: 20px;
    }
  }
}

/* user-profile-edit */

.edit-profile-avatar {
  justify-content: center;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 1.5rem;
  @media (min-width: 650px) { & { 
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    justify-content: start;
    margin-bottom: 0;
    padding-left: 0;
   } }
}

.edit-profile-form {
  position: relative;
  width: 100%;
  @media (min-width: 650px) { & { 
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
   } }
}

.hidden {
  display: none;
}

/* user-profile */

.user-header {
  width: 100%;
  line-height: 23px;

  .user-name { font-size: 1.2rem }
  @include sm {
    .user-name { font-size: 1.5rem }
  }

  .user-username {
    color: #aaaaaa;
    font-size: 0.85rem;
  }
  @include sm {
    .user-username { font-size: 0.9rem }
  }

  .setting-btn {
    color: #212529;
    &:hover { color: #212529 }
  }
  @include sm {
    .setting-btn {
      font-size: 1.2rem
    }
  }
}
@include md {
  .user-header { line-height: 28px; }
}

.follow-form {
  width: fit-content;

  .btn {
    font-size: 0.8rem;
    font-weight: 700;
    min-width: 100px;
    height: 32px;

    &.follow {
      background-color: #f90e43;
      color: #fff;
    }

    &.unfollow {
      background-color: rgba(0, 0, 0, 0.1);
      color: #f90e43;
    }
  }
}

.user-menu {
  margin-top: 10px;

  .btn {
    font-size: 0.725rem;
    font-weight: 700;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);

    &.edit-profile {
      margin-right: 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.logout {
      white-space: nowrap;
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      &:hover { color: rgba(0, 0, 0, 0.5); }
    }
  }

  @include sm {
    .btn { font-size: 0.8rem; }
  }
}

.like-form {
  width: fit-content;

  .btn {
    font-size: 0.8rem;
    font-weight: 700;
    min-width: 100px;
    height: 40px;

    &.like {
      background-color: #f90e43;
      color: #fff;

      .fa-thumbs-up {
        margin-left: 1px;
      }
    }

    &.unlike {
      background-color: rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.5);

      .fa-thumbs-up {
        display: none;
      }
    }
  }
}

.btn.you {
  font-size: 0.8rem;
  font-weight: 700;
  min-width: 100px;
  height: 32px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}


.dropdown-toggle::after {
  display: none;
}
.show > .dropdown-toggle {
  outline: none;
}

.user-bio-cell {
  margin: 0 -15px;
  padding: 0.9rem 15px 0 15px;
  font-size: 0.9rem;
}
@include sm { .user-bio-cell { font-size: 1rem } }
@include md {
  .user-bio-cell {
    padding-top: 0.8rem;
  }
}

.user-status-cell {
  margin: 0.9rem -15px 0 -15px;

  .nav {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 1
    }
  }

  .nav-item {
    margin: 0;
    z-index: 2;
  }
  @include md {
    .nav-item {
      margin: 0 2.5rem 0 0;
      
      &:last-child {
        margin: 0;
      }
    }
  }

  .nav-pills .nav-link {
    color: rgba(0, 0, 0, 0.4);
    min-width: 50px;
    height: 67px;
    border-radius: 0;
  }

  .nav-pills .nav-link.active {
    position: relative;
    color: #212529;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-top: 1px solid #212529;
    }
  }

  .user-status {
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
  
    .status-name {
      white-space: nowrap;
      font-size: 0.7rem;
      font-weight: 400;
      display: block;
      @include md {
        display: inline;
        font-size: 0.95rem
      }
    }
  
    .status-value {
      display: inline;
      font-weight: 700;
      font-size: 0.95rem;
    }

    .status-unit {
      font-size: 0.95rem;
      font-weight: 400;
    }
  }
  @include md {
    .user-status {
      margin: 0;
    }
  }
}
@include md {
  .user-status-cell {
    margin: 0.8rem 5px 0 5px;
  }
}

.user-profile-contents {
  .post-cards {
    margin: 0 -15px 20px -15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;

    .post-card {
      padding: 0;
    }
  }
  @include sm {
    .post-cards {
      margin-bottom: 30px;
    }
  }
  @include md {
    .post-cards {
      margin: 0 5px 35px 5px;
      gap: 20px;
      img {border-radius: 0.25rem;}
    }
  }
}

.loadmore-btn-wrapper {
  margin: 0 5px;

  .btn { color: rgba(0, 0, 0, 0.5); font-weight: 700; background-color: rgba(0, 0, 0, 0.1); border: none; }

  .loadmore-btn {
    font-size: 1rem;
    
    border-radius: 0.6rem;
    height: 43px;
    width: 100%;
  }
  @include sm {
    .loadmore-btn {
      width: 420px;
    }
  }
}

.no-contents {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.15rem;
  height: 250px;
  width: 100%;
}

/* user-index */

.page-header {
  width: fit-content;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid #212529;
}
@include sm {
  .page-header {
    font-size: 1.8rem;
  }
}

.user-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 0 15px;
  margin-bottom: 15px;
  @include sm { & { grid-template-columns: 1fr 1fr 1fr; margin-bottom: 25px; } }
  @include md { & { gap: 20px; padding: 0 20px; margin-bottom: 30px; } }
}

.user-card {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  height: 230px;
  @include md { & { height: 280px; } }
  padding: 13px 20px;
  overflow: hidden;

  img {
    margin-top: 12px;
    width: 110px; height: 110px;
    @include md { & { width: 150px; height: 150px; } }

    &.logged_in {
      margin-top: 0px;
      width: 90px; height: 90px;
      @include md { & { width: 120px; height: 120px; } }
    }
  }

  a {
    line-height: 20px;
    &:hover {
      text-decoration: none;
    }
  }

  .user-card-names-container {
    width: 100%;
    line-height: 23px;
  
    .user-card-names {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .user-name {
        color: #212529;
        font-size: 1.2rem
      }

      .user-username {
        color: rgba(0, 0, 0, 0.4);
        font-size: 0.85rem;
      }
    }
  }

  .user-card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 0.8rem;
    white-space: nowrap;
    height: 32px;
  }
}


.show-follow-footer, .show-following-footer, .show-followers-footer {
  .loadmore-btn-wrapper { margin: 0; }
}

/* post new */

.post-form {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto 1rem auto;
  padding: 25px;
  border-radius: 1rem;
  max-width: 550px;

  display: grid;
  grid-template-columns: 1fr;

  .preview-wrap {
    z-index: 1;
    cursor: pointer;
    position: relative;
    display: block;
    height: 0;
    width: 100%;
    padding-bottom: 100%;

    margin-bottom: 25px;
    @include md { & { margin-bottom: 0; } }

    .preview {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include box_sizing;
      border-radius: 1rem;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
    }

    .fa-camera {
      z-index: 10;
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.74);
      position: absolute;
      top       : 50%;
      left      : 50%;
      transform : translate(-50%, -50%);
    }
  }

  .caption {
    color: #212529;
    background-color: transparent;
    border: none;
    &:focus {
      color: #212529;
      outline: 0;
      box-shadow: none;
    }
  }
}
@include md {
  .post-form {
    max-width: 870px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 25px;

    .preview-wrap { grid-column: 1 / 6; }
    .caption {
      grid-column: 6 / 13;
    }
  }
}

.post-form-btns {
  max-width: 550px;
  margin: 0 auto;
  @include md { & { max-width: 870px; } }

  .post-form-btn {
    font-weight: 700;
    border-radius: 5px;
    border: 2px solid #212529;
  }
}

/* post show */

.post-container {
  margin: 0 -15px;
}
@include sm {
  .post-container {
    margin: 0;
  }
}

.img-col {
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}
@include sm {
  .img-col {
    img { border-radius: 0.25rem; }
    &::after {
      border: 1px solid rgba(0, 0, 0, 0.05);
      border-radius: 0.25rem;
    }
  }
}


.post-header {
  padding: 15px;

    img { height: 40px; width: 40px }
    @include sm { img { height: 50px; width: 50px } }
    a {
    line-height: 20px;
    &:hover {
      text-decoration: none;
    }
  }

  .post-header-names {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .post-header-name {
      color: #212529;
    }

    .post-header-username {
      color: #aaaaaa;
      font-size: 0.9rem;
    }
  }

  .setting-btn {
    color: #212529;
    &:hover { color: #212529 }
  }
}
@include sm { 
  .post-header { height: 80px; padding: 15px 0 }
}

.post-body {
  padding: 15px 15px;
  @include sm { & { padding: 15px 0; } }

  // small { color: rgba(0, 0, 0, 0.6) }
}

.post-footer-links {
  padding: 0 15px 15px 15px;
  @include sm { & { padding: 0 0 15px 0; } }
  margin-bottom: 15px;

  line-height: 0.9rem;
  font-size: 0.9rem;
  font-weight: bold;
  
  a {
    color: rgba(0, 0, 0, 0.4);
  }
}

.last-updated {
  white-space: nowrap;
}

.post-status-cell {
  margin: 0 15px;

  .nav {
    width: 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      z-index: 1
    }
  }

  .nav-item {
    margin: 0;
    z-index: 2;
  }
  @include sm {
    .nav-item {
      margin: 0 2.5rem 0 0;
      
      &:last-child {
        margin: 0;
      }
    }
  }

  .nav-pills .nav-link {
    color: rgba(0, 0, 0, 0.4);
    min-width: 50px;
    height: 67px;
    border-radius: 0;
  }

  .nav-pills .nav-link.active {
    position: relative;
    color: #212529;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      display: block;
      border-top: 1px solid #212529;
    }
  }

  .post-status {
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
    margin-right: auto;
    margin-left: auto;
  
    .status-name {
      white-space: nowrap;
      font-size: 0.7rem;
      font-weight: 400;
      display: block;
      @include sm {
        display: inline;
        font-size: 0.95rem
      }
    }
  
    .status-value {
      display: inline;
      font-weight: 700;
      font-size: 0.95rem;
    }

    .status-unit {
      font-size: 0.95rem;
      font-weight: 400;
    }
  }
  @include sm {
    .post-status {
      margin: 0;
    }
  }
}
@include sm {
  .post-status-cell {
    margin: 0rem;
  }
}

.user-cards.post-likes {
  margin: 0;
  @include sm { & { margin: 0 -15px; } }
  @include md { & { margin: 0 -20px; } }
}