<div class="container">
<footer class="py-4 bg-transparent">
  <div class="container text-center">
    <p><small>Copyright &copy;2019 blogapp, All Rights Reserved.</small></p>
  </div>
</footer>
</div>