<footer class="py-4">
  <div class="container text-center">
    <p><small>Copyright &copy;2019 <%= website_name %>, All Rights Reserved.</small><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
  </div>
</footer>