<% if flash[:success]%>
  <nav class="fixed-bottom toast mx-auto mb-sm-4" style="background-color: #fc8023" data-delay="3000">
    <div class="toast-body d-flex align-items-center p-2">
      <div class="mx-auto font-weight-bold"  style="color: #fff; font-size: 1rem;"><%= flash[:success]%></div>
    </div>
  </nav>

  <script>
  $('.toast')
    .toast({
      autohide: true
    })
    .toast('show')
  </script>
<% end %>